@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
      
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    
    <!--
    <link rel='stylesheet' type="text/css" href="@routes.Assets.at("stylesheets/home.css")">
    <link rel='stylesheet' type="text/css" href="@routes.Assets.at("stylesheets/animation.css")">
    <link rel='icon' type="image/ico" href="favicon.ico">
    -->
 <style>
    body { 
        margin-top: 50px;
     }
     </style>

</head>
<body>  
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>
    
    <header class="top clear">
    	<div class="left">
			<a id="logo" href="/">PlayConf 2014</a>
			<p>PlayConf will be held bla bla bla.
        </div>
	    <div class="right">
			<p class="month">September<\p>
			<p class="days">11,12,13<\p>
			<p class="city">New York<\p>
	    </div>
    </header>
    
    <!--  
    <div class="container">
       
    </div>
    -->
    
    <aside id="register">
    	<a class="button white" href="@routes.Application.register()">Register</a>
    	Register with your twitter account
    </aside>
    	 @content
   	<footer>
   		This is a demo site, not a real conf.
   	</footer>
    
    <script src="@routes.Assets.at("javascript/jquery-1.9.0.min.js")" type="text/javascript" charset="utf-8"/>
    <script src="@routes.Assets.at("javascript/home.js")" type="text/javascript" charset="utf-8"/>
    
</body>
</html>
